/* Extra large devices (large desktops, 1800px and up) */
@media (max-width: 1800px) {
    .demo-area .row {
        --bs-gutter-x: 30px;
    }

    .banner-content .title {
        font-size: 90px;
        letter-spacing: 0px;
    }
}

/* Extra large devices (large desktops, 1800px and up) */
@media (max-width: 1500px) {
    .container {
        max-width: 1320px;
    }

    .custom-container {
        max-width: 100%;
    }

    .banner-content p {
        margin-bottom: 100px;
    }

    .banner-area {
        padding: 420px 0 0;
    }

    .banner-content .title {
        font-size: 55px;
        line-height: 65px;
    }

    .banner-content p {
        margin-bottom: 80px;
        font-size: 18px;
    }

    .section-title .title {
        font-size: 56px;
        letter-spacing: -.8px;
    }

    .features-content .title {
        font-size: 32px;
    }

    .video-wrap {
        height: 600px;
    }

    .count {
        font-size: 100px;
    }

    .blog-content {
        margin-right: 100px;
    }

    .footer-content .title {
        font-size: 70px;
        letter-spacing: 0px;
    }

    .footer-content {
        padding: 140px 0 140px;
    }

    .footer-content .shape img {
        left: 32%;
        bottom: 19%;
        width: 150px;
    }

    .features-content-two .title {
        font-size: 24px;
    }

    .video-wrap {
        height: 500px;
    }

    .count {
        font-size: 80px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1199.98px) {

    .container,
    .custom-container {
        max-width: 960px;
    }

    .header-action>ul li.header-btn {
        display: none;
    }

    .navbar-wrap ul li a {
        padding: 44px 15px;
    }

    .banner-content .title {
        font-size: 75px;
    }

    .banner-content p {
        margin-bottom: 70px;
    }

    .banner-area {
        padding: 50px 0 0;
        min-height: 700px;
    }

    .features-content {
        padding: 20px 30px 30px;
    }

    .section-title .title {
        font-size: 50px;
    }

    .plugin-content .title {
        font-size: 18px;
    }

    .portfolio-img img:nth-child(2) {
        left: 70px;
        width: 260px;
    }

    .portfolio-content {
        margin-left: 0;
    }

    .portfolio-content p br {
        display: none;
    }

    .blog-content {
        margin-right: 0;
    }

    .blog-img img:nth-child(1) {
        width: 400px;
    }

    .blog-img img:nth-child(2) {
        bottom: 30px;
    }

    .review-item {
        padding: 30px 25px 25px;
    }

    .review-item .title {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .review-item p {
        margin-bottom: 25px;
    }

    .footer-content .title {
        font-size: 70px;
    }

    .footer-content {
        padding: 120px 0 120px;
    }

    .footer-content .shape img {
        left: 26%;
    }

    .device-img-wrap img:nth-child(1) {
        width: 300px;
    }

    .device-img-wrap img:nth-child(3) {
        width: 700px;
    }

    .device-img-wrap img:nth-child(4) {
        bottom: -30px;
        width: 500px;
    }

    .device-img-wrap img:nth-child(2) {
        left: 21%;
        bottom: -110px;
    }

    .elementor-content p {
        width: 100%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991.98px) {

    .container,
    .custom-container {
        max-width: 720px;
    }

    .menu-area {
        padding: 25px 0;
    }

    .menu-nav {
        justify-content: space-between;
    }

    .header-action {
        margin-right: 40px;
        margin-left: auto;
    }

    .menu-outer .navbar-wrap {
        display: block !important;
    }

    .menu-area .mobile-nav-toggler {
        display: block;
    }

    .banner-content {
        width: 80%;
    }

    .banner-content .title {
        font-size: 40px;
        line-height: 1.5;
    }

    .banner-content p {
        margin-bottom: 50px;
    }

    .menu-area {
        padding: 20px 50px;
    }

    .banner-img {
        min-height: 700px;
    }

    .banner-shape img {
        left: 14%;
        bottom: 32%;
        width: 110px;
    }

    .section-title .title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .feature-1 {
        max-width: 100%;
    }

    .feature-1 h5 {
        font-size: 1rem;
    }

    .section-title .title br {
        display: none;
    }

    .section-title p br {
        display: none;
    }

    .section-title.mb-80 {
        margin-bottom: 40px;
    }

    .features-area {
        padding: 100px 0 75px;
    }

    .features-img {
        text-align: center;
    }

    .features-content .title br {
        display: none;
    }

    .device-item::before {
        display: none;
    }

    .device-img-wrap img:nth-child(3) {
        width: 500px;
        margin-bottom: -60px;
    }

    .device-img-wrap img:nth-child(1) {
        width: 120px;
    }

    .device-img-wrap img:nth-child(4) {
        bottom: unset;
        width: 150px;
        top: 20px;
    }

    .device-img-wrap img:nth-child(2) {
        left: 13%;
        bottom: 31px;
        width: 125px;
    }

    .demo-area {
        padding: 100px 0 20px;
    }

    .elementor-area {
        padding: 100px 0;
    }

    .elementor-content {
        margin-bottom: 50px;
    }

    .inner-demo-area {
        padding: 100px 0 60px;
    }

    .plugin-area {
        padding: 100px 0 75px;
    }

    .portfolio-img {
        padding-top: 60px;
        text-align: center;
        margin-bottom: 50px;
    }

    .portfolio-img img:nth-child(2) {
        width: auto;
    }

    .portfolio-area {
        padding: 100px 0 100px;
    }

    .blog-img img:nth-child(1) {
        width: 600px;
    }

    .blog-img {
        margin-bottom: 50px;
    }

    .blog-area {
        padding: 0 0 100px;
    }

    .review-area {
        padding: 100px 0 100px;
    }

    .footer-content .title {
        font-size: 50px;
    }

    .footer-content {
        padding: 100px 0 100px;
    }

    .footer-content p {
        margin-bottom: 40px;
    }

    .footer-content .shape img {
        left: 23%;
    }

    .marquee-wrap .marquee__group .m-item a {
        font-size: 32px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
    .feature-1 h5 {
        font-size: 12px;
    }

    .custom-container {
        max-width: 100%;
    }

    .transparent-header {
        top: 0;
    }

    .menu-area {
        padding: 20px 15px;
    }

    .banner-img {
        min-height: 450px;
    }

    .banner-content .title {
        font-size: 28px;
    }

    .banner-content p {
        font-size: 18px;
    }

    .banner-img img:nth-child(1) {
        display: none;
    }

    .banner-img img:nth-child(3) {
        display: none;
    }

    .banner-img img:nth-child(2) {
        width: 100%;
    }

    .banner-shape img {
        left: 14%;
        bottom: 30%;
        width: 90px;
    }

    .section-title .title {
        font-size: 32px;
    }

    .features-content .title {
        font-size: 24px;
    }

    .video-wrap {
        height: 400px;
    }

    .count {
        font-size: 60px;
    }

    .device-img-wrap img:nth-child(1) {
        display: none;
    }

    .device-img-wrap img:nth-child(4) {
        display: none;
    }

    .device-img-wrap img:nth-child(2) {
        display: none;
    }

    .device-img-wrap img:nth-child(3) {
        width: 100%;
        margin-bottom: -30px;
    }

    .inner-slider-one {
        margin: 0 20px;
    }

    .inner-slider-two {
        margin: 0 20px;
    }

    .plugin-content .title br {
        display: none;
    }

    .portfolio-img img:nth-child(5) {
        position: absolute;
        top: 0;
        right: 180px;
    }

    .portfolio-img img:nth-child(4) {
        position: absolute;
        top: 26px;
        right: 2px;
        width: 60px;
    }

    .portfolio-img img:nth-child(2) {
        width: 130px;
        left: -14px;
        top: 201px;
        display: block;
    }

    .portfolio-img img:nth-child(3) {
        position: absolute;
        right: -2px;
        bottom: -50px;
        width: 120px;
    }

    .features {
        border-radius: 10px;
        margin: 0 auto;
    }

    .blog-img img:nth-child(2) {
        display: none;
    }

    .footer-content .title {
        font-size: 45px;
    }

    .footer-content .shape img {
        left: 12%;
        width: 80px;
        bottom: 24%;
    }

    .marquee-wrap .marquee__group .m-item a {
        font-size: 24px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .custom-container {
        max-width: 540px;
    }
}